
.root{
    -fx-background-image: url("../imagens/fundoAgenda2.jpg");
    -fx-background-size: 100% 100%;
}
.menu-bar {
    /* Barra de Menu */
    -fx-background-color: #04fc96;
    -fx-background-radius: 30px;
    -fx-alignment: center;
    -fx-font-size: 12px;
}

.menu-bar .label {
    -fx-font-size: 15pt;
}

.menu:showing {
    /* Menu when it's being show (activated) */
    -fx-text-fill:white;
    -fx-padding: 05 7 05 7;
    -fx-font-family: "Helvetica";
    -fx-font-size: 15px;
    -fx-font-weight: bold;

    -fx-background-color:
            linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
            linear-gradient(#020b02, #3a3a3a),
            linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
            linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
            linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 15px;
}

.menu-item .label {
    -fx-font-size: 13px;
}
